body {
  margin: 0;
}

p {
    margin: 1em 0;
}

header img {
  width: 50%;
  margin: 1em auto;
}

#titolo {
  text-align: center;
  }

#weight {
    font-weight: 900;
}

#logo {
  display: block;
  height: 7vh;
  width: auto;
  margin-bottom: 1.1em;
}

.center {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

main> h1:first-child {
  text-align: center;
}

#titolo {
  background-color: #fdfbf1;
  border-top: 2px solid #ffd878;
  padding: 0.1em 0;
  color: #004b4a;
}

#video {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 0px 5px rgb(77, 77, 77);
}

figcaption {
  text-align: center;
  font-size: 1.3em;
  margin-top: 0.5em;
  padding: 0;
  color: grey;
}

figure {
  margin: 0;
}

#feature {
  border-left: 2px solid #ffd878;
  margin-top: 1.5em;
  padding-left: 1em;
  margin-bottom: 5em;
}

#arancio {
  margin: 0;
  padding: 0;
  color: #b3420a;
}

#blu {
  margin: 0;
  padding: 0;
  color: #097373;
  text-decoration: underline;
}

section h1 {
    font-weight: 100;
}

hr {
    border: none;
    height: 2px;
    background-color: #bff2f1;
}

ol,ul {
    margin: 0 2em;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    margin: 1em;
}

#corollario {
    margin: 1em 3em;
}